#מפתח API
GEMINI_API_KEY=your_gemini_app_key_here

#מפתח לפלאסק
SECRET_KEY=your_flask_secret_key_here

#קבצי תעודות
CERT_PATH=./certs/cert.pem
KEY_PATH=./certs/key.pem

SENDER_EMAIL=your_sender_email_here
APP_PASSWORD=your_app_password_here
